no ip domain lookup
hostname R1
line con 0
logging synchronous
exit

interface loopback0
ip address 150.1.1.1 255.255.255.255
no shutdown
interface GigabitEthernet1
no shutdown
interface GigabitEthernet1.14
encapsulation dot1Q 14
ip address 155.1.14.1 255.255.255.0
no shutdown
interface GigabitEthernet1.13
encapsulation dot1Q 13
ip address 155.1.13.1 255.255.255.0
no shutdown
interface GigabitEthernet1.12
encapsulation dot1Q 12
ip address 155.1.12.1 255.255.255.0
no shutdown

router ospf 1
router-id 150.1.1.1
network 150.1.1.1 0.0.0.0 area 0
network 155.1.12.1 0.0.0.0 area 0
network 155.1.13.1 0.0.0.0 area 0
network 155.1.14.1 0.0.0.0 area 0
exit

line vty 0 4
password inwk
login local
transport input all
exit
