no ip domain lookup
hostname R4
line con 0
logging synchronous
exit

interface loopback0
ip address 150.1.4.4 255.255.255.255
no shutdown
interface GigabitEthernet1
no shutdown
interface GigabitEthernet1.14
encapsulation dot1Q 14
ip address 155.1.14.4 255.255.255.0
no shutdown

router ospf 1
router-id 150.1.4.4
network 150.1.4.4 0.0.0.0 area 0
network 155.1.14.4 0.0.0.0 area 0
exit

line vty 0 4
password inwk
login local
transport input all
exit
